In [ ]:
# Creating a Function

def myf():
  print("Hello,My Name is himanshu and I am teaching functions in Python.")

In [ ]:
# Calling a Function

myf()        # Call the Above function just declare the name of a function with A Paranthesis

Hello,My Name is himanshu and I am teaching functions in Python.

In [ ]:
# Arguments In Function

def name(fname):    # Here fname is an argument
  print(fname+' patel')

In [ ]:
# Lets call a name function

name("himanshu")   # Here it is required to give a value inside a function otherwise it throws an Error.

himanshu patel

In [ ]:
# We can Pass any number of Arguments Just like in This:

def fullname(fname,lname):
  print(fname+lname)

# Call a fullname function here we want to give two values to run a function

fullname("himanshu"," patel")

tarun patel

In [ ]:
# Arbitary Arguments

# If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

# This way the function will receive a tuple of arguments, and can access the items accordingly

def newf(*program):
  print("I Love: " + program[0])

newf("Python", "Java", "C++")

I Love: Python

In [ ]:
# Default Value in a function

def name(fname="himanshu"):
  print(fname)

# Call a name function
name()    # By default it shows himanshupu
name("Tarun")  # But when we pass a new value it overides the default value.

himanshu
Tarun

In [ ]:
# Pass a list as an Argument

def names(a):
  for item in a:
    print(item)

fname = ["himanshu","hardik","tarun"]

# Call a function and pass a dictionary
names(fname)

himanshu
hardik
tarun

In [ ]:
# Return Values
# To let a function return a value, use the return statement.

def add(x,y):
  return x+y

add(5,5)

10

In [ ]:
# Pass Statement

# function definitions cannot be empty,
# but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.


def a():
  pass

**Recursion**

**Python also accepts function recursion, which means a defined function can call itself.**

In [ ]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

**Factorial of 3! = 3x2x1**